body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #E7E9E7;
  }

  .navbar {
    width: 17%;
    height: 100%;
    background-color: #46A758;
    padding-top: 20px;
    box-sizing: border-box;
    position: fixed;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .infos {
    margin-bottom: 50px;
    padding: 12px;
    background-color: #3E9B4F;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: #FCFDFC;

  }


.logout {
  margin-top: 100px;
  padding:20px;
}

a{
  text-decoration: none ;
  color: inherit;
}

.item {
  margin-bottom: 15px;
  padding: 20px;
}

  .item,.logout {

    background-color: #46A758;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: #FCFDFC;
    transition: transform 0.3s;
    cursor: pointer;
  }

  .item:hover,.logout:hover {
    background-color: #3E9B4F;
    transform: scale(1.05);
  }

  .formulaire {
    display: flex;
    justify-content: center;
    margin-left: 17%;

  }

  fieldset{
    border: 0;
    margin-top: 7%;
  }

  .ajouter,.modifier {
    background-color: #46A758 ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    }


    .ajouter h2,.modifier h2 {
        margin-bottom: 20px;
        color: #FCFDFC;
        }


        .formulaire input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            }

    .formulaire .boutton {
            width: 100%;
            padding: 10px;
            background-color: #ffffff;
            color: #1D211C;
            border: none;
            border-radius: 4px;
            cursor: pointer;
    }

    .formulaire .boutton:hover {
        background-color: #f8f8f8;
        transform: scale(1.05);
    }

